# Gradle
.gradle/
build/

# Node
node_modules/
npm-debug.log

# IDEs
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Build outputs
dist/
dist-electron/
release/

# Environment Variables
.env
.env.*.local
.env.local
